@{
    ViewData["Title"] = "Home Page";
}
@using WeddingPlanner.Models

<div class="container col-8 d-inline-block align-top">
    <h3>Register</h3>
    <partial name="RegistrationPartial" />
</div>

<div class="container d-inline-block col-3 align-top">
    <h3>Login</h3>
    <partial name="LoginPartial" />
</div>
